<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Twitter Consumer Key</key>
	<string>JRi5Wp7AzJUZPOVAU4AhI6jkR</string>
	<key>Twitter Consumer Secret</key>
	<string>2P6sPa2BFVyqKdAnMBqQSJZDXjCwCxfr4rM5uefRX1oWDeS1yX</string>
</dict>
</plist>
